<!DOCTYPE html>
<meta charset="utf-8">
<style>

</style>
<body>

<p> general pattern cmdb/searchkey/value </br>
<a href="cmdb/serial/1993830" >cmdb/serial/1993830</a></br>
<a href="cmdb/serial/1993831" >cmdb/serial/1993831</a></br>
<a href="cmdb/group/2" >cmdb/group/2</a></br>
<a href="cmdb/group/1" >cmdb/group/1</a></br>
<a href="cmdb/brand/hp" >cmdb/brand/hp</a></br>
<a href="cmdb/brand/Supermicro" >cmdb/brand/Supermicro</a></br>
</p>

</body>
</html>
